@charset "UTF-8";
@import '../font/harrypotter.css';


:root {
    --font-title: 'HarryPotter', 'Aileron Light', 'Segoe UI Light', 'Century Gothic Light', 'Calibri', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    --font-main: 'Segoe UI Light', 'Aileron Light', 'Century Gothic Light', 'Calibri', 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    --font-mono: 'Consolas', 'Courier New', 'Courier', 'Lucida Console', 'Ubuntu Mono', monospace;
    --color-fg: #8aa;
}

*:not(div#title) {
    -moz-osx-font-smoothing: grayscale !important;
     -webkit-font-smoothing: antialiased !important;
    text-rendering: optimizeLegibility !important;

    -webkit-text-shadow: 1px 1px 1px rgba(0,0,0,0.04);
       -moz-text-shadow: 1px 1px 1px rgba(0,0,0,0.04);
            text-shadow: 1px 1px 1px rgba(0,0,0,0.04);

    font-smooth: always;
}

.title_font {
    font-family: var(--font-title);
}

.main_font {
    font-family: var(--font-main);
}

b {
    font-size: 20px;
}

hr {
    -webkit-border: 1px solid rgba(100, 180, 180, 0.4);
       -moz-border: 1px solid rgba(100, 180, 180, 0.4);
            border: 1px solid rgba(100, 180, 180, 0.4);

    color: rgba(100, 180, 180, 0.8);
}

a,
a:link,
a:visited {
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;
    color: var(--color-fg);

    -webkit-transition: text-shadow 0.3s, color 0.3s;
       -moz-transition: text-shadow 0.3s, color 0.3s;
            transition: text-shadow 0.3s, color 0.3s;
}

a:active {
    -webkit-text-shadow: 0px 0px 8px rgba(100, 100, 100, .8);
       -moz-text-shadow: 0px 0px 8px rgba(100, 100, 100, .8);
            text-shadow: 0px 0px 8px rgba(100, 100, 100, .8);

    color: #589;
}

a:hover {
    -webkit-text-shadow: 0px 0px 4px rgba(100, 100, 200, .6);
       -moz-text-shadow: 0px 0px 4px rgba(100, 100, 200, .6);
            text-shadow: 0px 0px 4px rgba(100, 100, 200, .6);

    color: #BBD;
}

a.help,
a.help:link,
a.help:visited {
    border: 1px solid rgba(255, 180, 180, 0.8);
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;

    behavior: url(PIE.htc);

    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(255, 180, 180, 0.8);
    display: inline-block;
    text-decoration: none;
    font-style: regular;
    text-align: center;
    line-height: 17px;
    font-size: 12px;
    height: 17px;
    width: 17px;

    -webkit-transition: box-shadow 0.3s, border-color 0.3s;
       -moz-transition: box-shadow 0.3s, border-color 0.3s;
            transition: box-shadow 0.3s, border-color 0.3s;
}

a.help:hover,
a.help:active {
    border: 1px solid rgba(255, 220, 220, 0.8);
    color: rgba(255, 220, 220, 0.8);

    -webkit-box-shadow: 0px 0px 8px rgba(180, 100, 100, .8);
       -moz-box-shadow: 0px 0px 8px rgba(180, 100, 100, .8);
            box-shadow: 0px 0px 8px rgba(180, 100, 100, .8);
}

body {
    background-image: url('../images/bg.png');
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;

    -webkit-border: 1px solid var(--color-fg);
       -moz-border: 1px solid var(--color-fg);
            border: 1px solid var(--color-fg);

    -webkit-border-radius: 40px;
       -moz-border-radius: 40px;
            border-radius: 40px;

    margin-bottom: 150px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    min-height: 1000px;
    display: block;
    width: 800px;
    top: -10px;
}

span.description {
    text-align: justify;
    line-height: 19pt;
    display: block;
}

span.description key,
span.description kbd {
    box-shadow: 1px 1px 2px 0 #f88,
                2px 2px 5px rgba(0, 0, 0, 0.3);

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    border: 1px solid #caa;

    text-transform: uppercase;
    font-family: var(--font-mono);
    font-size: 0.9em;
    padding:1px 5px;
    margin:2px 3px;
    color: #caa;
}

.img_container {
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 120px;
    width: 120px;
}

.img_container.unknown6656 {
    background-image: url('../images/unknown6656.png');
}

.img_container.coldmirror {
    background-image: url('../images/coldmirror.png');
}

.img_container.duraphilms {
    background-image: url('../images/duraphilms.jpg');
}

#title {
    -webkit-text-shadow: -1px -1px 4px rgba(200, 200, 255, 0.4),
                          2px 6px 12px #000;
       -moz-text-shadow: -1px -1px 4px rgba(200, 200, 255, 0.4),
                          2px 6px 12px #000;
            text-shadow: -1px -1px 4px rgba(200, 200, 255, 0.4),
                          2px 6px 12px #000;

    -webkit-border-bottom: 1px solid var(--color-fg);
       -moz-border-bottom: 1px solid var(--color-fg);
            border-bottom: 1px solid var(--color-fg);

      background-image: url('../images/banner.png');
      background-repeat: no-repeat;
      background-size: 100% auto;
      color: #9ee;

    text-align: center;
    line-height: 100px;
    padding-top: 10px;
    font-size: 38pt;
    z-index: 20;
    right: 0px;
    top: -20px;
    left: 0px;
}

#title,
#title_cover {
    -webkit-border-top-right-radius: 40px;
       -moz-border-top-right-radius: 40px;
            border-top-right-radius: 40px;
    -webkit-border-top-left-radius: 40px;
       -moz-border-top-left-radius: 40px;
            border-top-left-radius: 40px;

    max-height: 215px;
    display: block;
    height: 215px;
    width: 100%;
}

#title_cover {
    background-color: rgba(100, 100, 100, .3);
    background-image: url('../images/title.png');
    background-repeat: repeat;
    background-size: cover;
    position: relative;

    padding-bottom: 10px;
    top: -210px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    z-index: 21;
}

#main {
    background-color: rgba(100, 100, 100, .2);
    color: var(--color-fg);
    font-size: 12pt;
    display: block;

    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;

    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    min-height: 500px;
    max-width: 720px;
    width: 720px;
}

@media screen and (min-device-width: 700px) {
    #sidebar {
        /* -webkit-backdrop-filter: blur(20px); */
        /*         backdrop-filter: blur(20px); */

        -webkit-border-bottom-left-radius: 15px;
           -moz-border-bottom-left-radius: 15px;
                border-bottom-left-radius: 15px;
        -webkit-border-top-left-radius: 15px;
           -moz-border-top-left-radius: 15px;
                border-top-left-radius: 15px;
        border: 1px solid var(--color-fg);

        background-color: rgba(0, 0, 0, 0.6);
        position: fixed;
        cursor: pointer;
        display: block;
        height: 500px;
        right: -140px;
        width: 150px;
        top: 100px;
        z-index: 200;

        -webkit-transition: right 0.5s;
           -moz-transition: right 0.5s;
            -ms-transition: right 0.5s;
             -o-transition: right 0.5s;
                transition: right 0.5s;
    }

    #sidebar::before {
        -webkit-border-radius: 15px;
           -moz-border-radius: 15px;
                border-radius: 15px;
        border: 1px solid var(--color-fg);

        background-image: url('../images/youtube.png');
        background-color: rgba(0, 0, 0, 0.8);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 90% 90%;
        position: fixed;
        cursor: pointer;
        display: block;
        content: "";
        height: 50px;
        width: 50px;
        right: -5px;
        top: 125px;
        z-index: 201;

        -webkit-transition: right 0.5s;
           -moz-transition: right 0.5s;
            -ms-transition: right 0.5s;
             -o-transition: right 0.5s;
                transition: right 0.5s;
    }

    #sidebar:hover {
        cursor: default;
        right: 0px;
    }

    #sidebar:hover::before {
        cursor: pointer;
        right: -55px;
    }

    #sidebar span.content {
        margin: 10px 10px 10px 10px;
        text-align: center;
        position: relative;
        font-size: 12pt;
        display: none;
        height: 100%;
        width: 100%;
    }

    #sidebar span.content:hover,
    #sidebar:hover span.content {
        display: block;

        -webkit-animation-name: fader;
           -moz-animation-name: fader;
             -o-animation-name: fader;
                animation-name: fader;

        -webkit-animation-duration: 0.5s;
           -moz-animation-duration: 0.5s;
             -o-animation-duration: 0.5s;
                animation-duration: 0.5s;

        -webkit-animation-timing-function: ease;
           -moz-animation-timing-function: ease;
             -o-animation-timing-function: ease;
                animation-timing-function: ease;
    }

    #sidebar span.content .img_container {
        background-position: center center;
        background-size: 100% auto;
        margin-right: auto;
        margin-left: auto;
        margin-top: 10px;
        display: block;
        height: 100px;
        width: 100px;
    }
}

@media all and (max-device-width: 699px) {
    div#sidebar {
        display: none;
    }
}

table#parts {
    border-collapse: collapse;
}

table#parts td {
    -webkit-transition: all 0.4s;
       -moz-transition: all 0.4s;
        -ms-transition: all 0.4s;
         -o-transition: all 0.4s;
            transition: all 0.4s;
}

table#parts td.number {
    background-image: url('../images/gradient.png');
    background-color: transparent;
    /* background-color: rgba(100, 100, 100, 0.6);*/
    border: 1px solid var(--color-fg);
}

table#parts tr.legende {
    height: 10px;
}

table#parts tr.legende td.legende_desc {
    padding-right: 10px;
    text-align: right;
    font-size: 10pt;
}

table#parts td.descr {
    padding-right: 20px;
    text-align: right;
}

table#parts td.number {
    background-repeat: repeat;
    font-family: var(--font-mono);
    text-align: center;
    color: #add;
    width: 30px;

    -webkit-transition: background-color 0.3s;
       -moz-transition: background-color 0.3s;
        -ms-transition: background-color 0.3s;
         -o-transition: background-color 0.3s;
            transition: background-color 0.3s;
}

table#parts td.online,
table#parts td.offline,
table#parts td.temporary {
    background-image: url('../images/gradient-s.png');
    background-color: var(--color-bg);
    cursor: pointer;
}

table#parts td.online {
    --color-bg: rgba(100, 200, 100, 0.6);
    --color-bg-hover: rgba(50, 200, 50, 0.6);
    --color-bg-active: rgba(0, 100, 0, 0.6);
    --color-text: #afa;
    --color-text-active: #5a5;
}

table#parts td.offline {
    --color-bg: rgba(200, 100, 100, 0.6);
    --color-bg-hover: rgba(200, 50, 50, 0.6);
    --color-bg-active: rgba(100, 0, 0, 0.6);
    --color-text: #faa;
    --color-text-active: #a55;
}

table#parts td.temporary {
    --color-bg: rgba(200, 200, 100, 0.6);
    --color-bg-hover: rgba(200, 200, 50, 0.6);
    --color-bg-active: rgba(100, 100, 0, 0.6);
    --color-text: #ffa;
    --color-text-active: #aa5;
}

table#parts tr:not(.legende) td:hover:not(:active) {
    background-color: var(--color-bg-hover);
    color: var(--color-text);
}

table#parts tr:not(.legende) td:active {
    background-color: var(--color-bg-active);
    color: var(--color-text-active);
}

table#parts td span.tooltip {
    position: relative;
    display: block;
    width: 100%;
}

table#parts td span.tooltip::before,
table#parts td span.tooltip::after {
    position: absolute;
    display: none;
}

table#parts td span.tooltip::before {
    background-color: transparent;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    bottom: 20px;
    height: 10px;
    width: 20px;
    left: 20%;

    content: "";
    z-index: 99;
}

table#parts td span.tooltip::after {
    -webkit-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.7);
       -moz-box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.7);
            box-shadow: 5px 5px 8px 1px rgba(0, 0, 0, 0.7);

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    border-right: 1px solid var(--color-bg);
    border-left: 1px solid var(--color-bg);
    border-top: 1px solid var(--color-bg);

    background-color: rgba(0, 0, 0, .9);
    color: var(--color-text);

    content: attr(text);
    padding: 5px 15px;
    min-height: 25px;
    bottom: 30px;
    width: 220px;
    color: #eee;
    left: 0%;
    z-index: 98;
}

table#parts td span.tooltip:hover::after {
    font-family: var(--font-main);
}

table#parts td span.tooltip:hover::before,
table#parts td span.tooltip:hover::after {
    -webkit-animation-name: fader;
       -moz-animation-name: fader;
         -o-animation-name: fader;
            animation-name: fader;

    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
         -o-animation-duration: 1s;
            animation-duration: 1s;

    -webkit-animation-timing-function: ease;
       -moz-animation-timing-function: ease;
         -o-animation-timing-function: ease;
            animation-timing-function: ease;

    display: block;
}

#video-section {
    position: relative;
    display: block;
}

#video-section.offline::before {
    --color1: #d00;
    --color2: #800;

    border-radius: 20px;
    background: linear-gradient(
        45deg,
        var(--color1) 12.5%,
        var(--color2) 12.5%,
        var(--color2) 37.5%,
        var(--color1) 37.5%,
        var(--color1) 62.5%,
        var(--color2) 62.5%,
        var(--color2) 87.5%,
        var(--color1) 87.5%
    );
    background-size: 100px 100px;
    background-repeat: repeat;
    position: absolute;
    opacity: .3;
    content: '';
    z-index: 1000;
    height: 100%;
    width: 100%;
    bottom: 0px;
    top: 0px;
}

#video-section.offline::after {
    content: 'Dieses Video ist zurzeit leider OFFLINE.';
    vertical-align: middle;
    align-content: center;
    text-align: center;
    position: absolute;
    transform: rotate(-20deg);
    font-variant: small-caps;
    font-weight: 900;
    line-height: 100%;
    font-size: 2.5em;
    color: red;
    z-index: 1001;
    width: 100%;
    bottom: 50%;
}

#video-section.offline[data-video-name]::after {
    content: attr(data-video-name) '\Aist zurzeit leider OFFLINE.';
}

#video-section.offline {
    --color-fg: #f88 !important;

    -webkit-box-shadow: 0px 0px 15px 15px #55000066;
       -moz-box-shadow: 0px 0px 15px 15px #50000066;
            box-shadow: 0px 0px 15px 15px #50000066;

    background-color: #50000066;
    color: var(--color-fg);
}

#video-section.offline * {
    filter: blur(10px);
}

/*
#video-section.offline #video-title::before {
    content: "[OFFLINE] ";
    font-style: italic;
    font-weight: bold;
}
*/

#video-section.offline #download-section {
    display: none;
}

#video-section.offline #download-links,
#video-section.default #download-links {
    display: none;
}

video {
    background-color: rgba(0, 0, 0, .4);

    width: calc(100% - 20px) !important;
    border-radius: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

input,
button,
select {
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
            transition: all 0.3s;

    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;

    border: 1px solid var(--color-fg);
    background-color: rgba(0, 0, 0, .4);
    color: var(--color-fg);
    min-height: 23px;
    margin-left: 4px;
    padding: 3px 5px;
    cursor: pointer;
}

select {
    width: 200px;
}

input[disabled],
button[disabled],
select[disabled] {
    opacity: .5;
    cursor: default;
}

input:not([disabled]):hover,
input:not([disabled]):active,
button:not([disabled]):hover,
button:not([disabled]):active,
select:not([disabled]):hover,
select:not([disabled]):active {
    -webkit-box-shadow: 0px 0px 7px #49f;
       -moz-box-shadow: 0px 0px 7px #49f;
            box-shadow: 0px 0px 7px #49f;

    border: 1px solid #49f;
}

input:not([disabled]):active,
button:not([disabled]):active,
select:not([disabled]):active {
    background-color: #15a;
    color: white;
}

select option {
    background-color: #221;
    color: var(--color-fg);
}

select optiongroup {
    color: #221;
}

#feedback {
    align-content: center;
    text-align: center;
    font-size: 12pt;
}

#feedback > smc {
    font-variant: small-caps;
    font-style: italic;
    text-align: center;
    font-size: 16pt;
    display: block;
    width: 100%;

    -webkit-animation-iteration-count: infinite;
       -moz-animation-iteration-count: infinite;
         -o-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: ease;
       -moz-animation-timing-function: ease;
         -o-animation-timing-function: ease;
            animation-timing-function: ease;
    -webkit-animation-name: feedback;
       -moz-animation-name: feedback;
         -o-animation-name: feedback;
            animation-name: feedback;
    -webkit-animation-duration: 15s;
       -moz-animation-duration: 15s;
         -o-animation-duration: 15s;
            animation-duration: 15s;
}

#feedback .sm {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    text-decoration: none;
    display: block;
    float: left;
    margin-right: 80px;
    margin-left: 40px;
    height: 40px;
    width: 40px;
}

#feedback .sm::after {
    content: attr(name);
    font-size: 1.4em;
    display: block;
    position: relative;
    line-height: 40px;
    padding: 0px;
    height: 40px;
    width: 110px;
    left: 35px;
}

#feedback .sm.twitter {
    background-image: url('../images/sm-twitter.png');
}

#feedback .sm.youtube {
    background-image: url('../images/sm-youtube.png');
}

#feedback .sm.facebook {
    background-image: url('../images/sm-facebook.png');
}

#feedback .sm.github {
    background-image: url('../images/sm-github.png');
}


@keyframes fader{
    0% {
        opacity: 0;
        filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
        filter: alpha(opacity=100);
    }
}

@-o-keyframes fader{
    0% {
        opacity: 0;
          -o-filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
          -o-filter: alpha(opacity=100);
    }
}

@-moz-keyframes fader{
    0% {
        opacity: 0;
          -moz-filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
          -moz-filter: alpha(opacity=100);
    }
}

@-webkit-keyframes fader{
    0% {
        opacity: 0;
          -webkit-filter: alpha(opacity=0);
    }
    100% {
        opacity: 1;
          -webkit-filter: alpha(opacity=100);
    }
}

@keyframes feedback {
    0% {
        text-shadow: 0px 0px 12px #ffa;
        color: #ffa;
    }
    17% {
        text-shadow: 0px 0px 12px #afa;
        color: #afa;
    }
    34% {
        text-shadow: 0px 0px 12px #aff;
        color: #aff;
    }
    50% {
        text-shadow: 0px 0px 12px #aaf;
        color: #aaf;
    }
    67% {
        text-shadow: 0px 0px 12px #faf;
        color: #faf;
    }
    84% {
        text-shadow: 0px 0px 12px #faa;
        color: #faa;
    }
    100% {
        text-shadow: 0px 0px 12px #ffa;
        color: #ffa;
    }
}

@-o-keyframes feedback
    0% {
        text-shadow: 0px 0px 12px #ffa;
        color: #ffa;
    }
    17% {
        text-shadow: 0px 0px 12px #afa;
        color: #afa;
    }
    34% {
        text-shadow: 0px 0px 12px #aff;
        color: #aff;
    }
    50% {
        text-shadow: 0px 0px 12px #aaf;
        color: #aaf;
    }
    67% {
        text-shadow: 0px 0px 12px #faf;
        color: #faf;
    }
    84% {
        text-shadow: 0px 0px 12px #faa;
        color: #faa;
    }
    100% {
        text-shadow: 0px 0px 12px #ffa;
        color: #ffa;
    }
}

@-moz-keyframes feedback {
    0% {
        -moz-text-shadow: 0px 0px 12px #ffa;
        color: #ffa;
    }
    17% {
        -moz-text-shadow: 0px 0px 12px #afa;
        color: #afa;
    }
    34% {
        -moz-text-shadow: 0px 0px 12px #aff;
        color: #aff;
    }
    50% {
        -moz-text-shadow: 0px 0px 12px #aaf;
        color: #aaf;
    }
    67% {
        -moz-text-shadow: 0px 0px 12px #faf;
        color: #faf;
    }
    84% {
        -moz-text-shadow: 0px 0px 12px #faa;
        color: #faa;
    }
    100% {
        -moz-text-shadow: 0px 0px 12px #ffa;
        color: #ffa;
    }
}

@-webkit-keyframes feedback {
    0% {
        -webkit-text-shadow: 0px 0px 12px #ffa;
        color: #ffa;
    }
    17% {
        -webkit-text-shadow: 0px 0px 12px #afa;
        color: #afa;
    }
    34% {
        -webkit-text-shadow: 0px 0px 12px #aff;
        color: #aff;
    }
    50% {
        -webkit-text-shadow: 0px 0px 12px #aaf;
        color: #aaf;
    }
    67% {
        -webkit-text-shadow: 0px 0px 12px #faf;
        color: #faf;
    }
    84% {
        -webkit-text-shadow: 0px 0px 12px #faa;
        color: #faa;
    }
    100% {
        -webkit-text-shadow: 0px 0px 12px #ffa;
        color: #ffa;
    }
}
