@font-face {
    font-family: "HarryPotter";
    src: url("./harrypotter.eot?") format("eot"),
         url("./harrypotter.woff") format("woff"),
         url("./harrypotter.ttf") format("truetype"),
         url("./harrypotter.svg#HarryPotter") format("svg");
    font-weight: normal;
    font-style: normal;
}
