@font-face {
	font-family: "Harry Potter";
	src: url("HARRP___.eot?") format("eot"),
		 url("HARRP___.woff") format("woff"),
		 url("HARRP___.ttf") format("truetype"),
		 url("HARRP___.svg#HarryPotter") format("svg");
	font-weight: normal;
	font-style: normal;
}
